/* some universal code here*/

body {
    background-color: #ADD8E6;
}

.defaultNav{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.leftNav{
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.leftNav button {
    /*flex: 1;*/
}

.mainLogo{
    flex: 4;
}

.rightNav{
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.rightNav button {
    /*flex: 1;*/
}


